.app {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

header {
  padding: 10px;
}

main {
  display: flex;
  flex: 1 1 0;
}

.container {
  width: 50%;
}